<!DOCTYPE html>
<html>
<html lang="en">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Media App VOD</title>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.9/angular.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.9/angular-sanitize.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.9/angular-animate.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.9/angular-aria.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.9/angular-touch.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.9/angular-messages.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.2/angular-ui-router.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
<script src="//cdn.jsdelivr.net/lodash/3.10.1/lodash.min.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
<script src="bower_components/videogular/videogular.js"></script>
<script src="bower_components/videogular-controls/vg-controls.js"></script>
<script src="bower_components/videogular-overlay-play/vg-overlay-play.js"></script>
<script src="bower_components/videogular-poster/vg-poster.js"></script>
<script src="bower_components/videogular-buffering/vg-buffering.js"></script>
<script src="bower_components/angular-local-storage/dist/angular-local-storage.min.js"></script>
<script src="bower_components/angular-kaarousel/build/angular-kaarousel.min.js"></script>
<link href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic" rel="stylesheet">
<link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="//ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css" rel="stylesheet">
<link href="bower_components/angular-kaarousel/build/angular-kaarousel.min.css" rel="stylesheet">
<link href="app.css" rel="stylesheet">
<script type="text/javascript" src="app.js"></script>
</head>
<body ng-app="mvod" ng-cloak>
    <md-content>
        <md-toolbar class="md-hue-2">
            <div class="md-toolbar-tools">
                <md-button ng-if="$state.current.name != 'home'" ui-sref="home" class="md-icon-button" aria-label="Go home">
                    <md-tooltip md-direction="left">
                        Go back to home
                    </md-tooltip>
                    <md-icon>arrow_back</md-icon>
                </md-button>
                <h2>
                    <span class="capitalize">{{$state.current.name}}</span>
                </h2>
                <span flex></span>
                <md-button ng-if="$root.historyItems > 0 && $state.current.name != 'history'" ui-sref="history" class="md-icon-button" aria-label="History">
                    <md-tooltip md-direction="left">
                        History
                    </md-tooltip>
                    <md-icon>history</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <div ui-view layout-padding></div>
    </md-content>
</body>
</html>