<md-content md-whiteframe="3">
    <md-list ng-if="movies.length > 0">
        <md-list-item class="md-3-line" ng-repeat="movie in movies">
            <div class="md-list-item-text">
                <h3>{{movie.title}}</h3>
                <h4>{{movie.date | date:'medium'}}</h4>
            </div>
            <md-divider ng-if="!$last"></md-divider>
        </md-list-item>
    </md-list>
</md-content>
