<md-content layout="row" flex>
    <kaarousel displayed="conf.displayed" per-slide="conf.perSlide" autoplay="conf.autoplay" direction="conf.direction" pause-on-hover="conf.pauseOnHover" center-active="conf.centerActive" time-interval="conf.timeInterval" stop-after-action="conf.stopAfterAction"
        hide-nav="conf.hideNav" hide-pager="conf.hidePager" nav-on-hover="conf.navOnHover" pager-on-hover="conf.pagerOnHover" swipable="conf.swipable" sync="conf.sync" loop="conf.loop" min-width="conf.minWidth" expand="conf.expand" always-fill="conf.alwaysFill"
        transition-duration="conf.transitionDuration" before-slide="conf.beforeSlide" after-slide="conf.afterSlide">
        <kaarousel-slide ng-repeat="movie in movies track by $index">
            <md-card flex-xs="100">
                <div ng-click="showVideo(movie.id, $event)">
                    <img ng-src="{{movie.images[0].url}}" class="md-card-image" alt="{{ movie.title }}">
                </div>
                <md-card-title>
                    <md-card-title-text>
                        <span ng-click="showVideo(movie.id, $event)" class="md-headline">{{ movie.title }}</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <p>
                        {{ movie.description }}
                    </p>
                </md-card-content>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button ng-click="showVideo(movie.id, $event)" class="md-icon-button" aria-label="Play">
                        <md-icon>play_circle_outline</md-icon>
                    </md-button>
                </md-card-actions>
            </md-card>
        </kaarousel-slide>
    </kaarousel>
</md-content>